@charset "utf-8";
body{
	font-family:"宋体";
	font-size:12px;
	margin:0 auto;
	padding:0px;
}
div,h1,h2,h3,p{
	margin:0px;
	padding:0px;
	overflow:hidden;
}
.noneul{
	margin:0px;
	padding:0px;
	list-style-type:none;
	overflow:hidden;
}
.noneul li{
	list-style-type:none;
	overflow:hidden;
}
#header{
	width:1000px;
	height:81px;
	margin:0 auto;
	position:relative;
}
#logo{
	width: 193px;
	height: 74px;
	position: absolute;
	left: 22px;
	top: 5px;
	z-index: 1;
}
#menu{
	width: 733px;
	height: 79px;
	position: absolute;
	left: 261px;
	top: 0px;
	z-index: 1;
}
#menu a{
	width:90px;
	height:79px;
	float:left;
	font-family:"微软雅黑";
	font-size:14px;
	color:#454444;
	text-decoration:none;
	line-height:95px;
	text-align:center;
}
#menu a:hover{
	width:90px;
	height:79px;
	float:left;
	font-family:"微软雅黑";
	font-size:14px;
	color:#FFF;
	text-decoration:none;
	line-height:95px;
	background-image:url(/skin/maxztron/img/menubg.jpg);
	text-align:center;
}
#menu .menub{
	width:90px;
	height:79px;
	float:left;
	font-family:"微软雅黑";
	font-size:14px;
	color:#FFF;
	text-decoration:none;
	line-height:95px;
	background-image:url(/skin/maxztron/img/menubg.jpg);
	text-align:center;
}
#mainimg{
	width:100%;
	clear:both;
}
#in_mainbg{
	width:100%;
	background-image:url(/skin/maxztron/img/in_mainmaxbg.jpg);
	background-repeat:repeat-x;
	background-color:#FFF;
	overflow:visible;
}
#in_mainrela{
	width:1000px;
	height:220px;
	position:relative;
	margin:0 auto;
	overflow:visible;
	z-index:20;
}
#in_main{
	width: 100%;
	height: 225px;
	position: absolute;
	z-index: 20;
	left: 0px;
	top: -22px;
	background-image: url(/skin/maxztron/img/in_mainbg.jpg);
	background-repeat: repeat-x;
	border-top:#CCC 1px solid;
}
#in_content{
	width:306px;
	height:225px;
	float:left;
}
#in_contNameDiv{
	width:100%;
	height:48px;
}
#in_concard{
	width:263px;
	height:30px;
	margin-left:21px;
	margin-top:10px;
	border-bottom:#CCC 1px solid;
	position:relative;
}
#in_contcard{
	width:213px;
	height:25px;
	margin-top:5px;
}
.concarda {
	width:76px;
	height:25px;
	float:left;
	font-family:"微软雅黑";
	color:#005aac;
	text-decoration:none;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	line-height:25px;
}
.concardb{
	width:76px;
	height:25px;
	float:left;
	font-family:"微软雅黑";
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
	font-size:14px;
	text-align:center;
	line-height:25px;
	background-image:url(/skin/maxztron/img/cardbg.jpg);
}
#in_more{
	width: 41px;
	height: 11px;
	position: absolute;
	left: 220px;
	top: 13px;
	z-index: 1;
}
.in_condata{
	width:268px;
	height:138px;
	margin-left:21px;
	margin-top:20px;
	display:block;
}
.in_condatanone{
	width:268px;
	height:138px;
	margin-left:21px;
	margin-top:20px;
	display:none;
}
#in_conimg{
	width:84px;
	height:120px;
	float:left;
	margin-right:18px;
	margin-top:5px;
}
#in_conright{
	width:163px;
	height:132px;
	float:left;
	line-height:1.8em;
}
.in_line{
	width:2px;
	height:161px;
	background-image:url(/skin/maxztron/img/in_line.jpg);
	float:left;
	margin-top:40px;
}
#in_newdiv{
	width:341px;
	height:225px;
	float:left;
}
#in_newsNameDiv{
	width:100%;
	height:48px;
	position:relative;
}
#in_newcard{
	width:300px;
	height:30px;
	border-bottom:#CCC solid 1px;
	margin-left:21px;
	margin-top:10px;
	position:relative;
}
#in_newscard{
	width:248px;
	height:25px;
	margin-top:5px;
}
#in_newmore{
	width: 41px;
	height: 11px;
	position: absolute;
	left: 255px;
	top: 13px;
	z-index: 1;
}
.in_newdatamaxdiv{
	width:341px;
	height:177px;
	display:block;
}
.in_newdatamaxdivnone{
	width:341px;
	height:177px;
	display:none;
}
#in_newdatarela{
	width:295px;
	height:auto;
	margin:0 auto;
	margin-top:6px;
}
.in_newrow{
	width:100%;
	height:23px;
	border-bottom:#CCC dotted 1px;
	position:relative;
	margin-top:5px;
}
.in_newtitle{
	width:207px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
	z-index:1;
}
.in_newdata{
	width: 86px;
	height: 18px;
	position: absolute;
	left: 207px;
	top: 0px;
	z-index: 1;
	text-align: right;
}
#in_proddiv{
	width:349px;
	height:225px;
	float:left;
}
#in_prodNameDiv{
	width:349px;
	height:48px;
}
#in_prodName{
	width:310px;
	height:24px;
	border-bottom:#CCC 1px solid;
	margin-left:21px;
	margin-top:16px;
	position:relative;
}
#in_prodtitle{
	width: 248px;
	height: 18px;
	position: absolute;
	left: 1px;
	top: 0px;
	z-index: 1;
}
#in_prodmore{
	width: 41px;
	height: 11px;
	position: absolute;
	left: 264px;
	top: 7px;
	z-index: 1;
}
#in_prodparent{
	width:349px;
	height:177px;
}
#in_prodscroll{
	width:330px;
	height:146px;
	margin-top:13px;
	margin-left:20px;
}
.in_leftico{
	width:8px;
	height:16px;
	float:left;
	margin-top:40px;
	margin-right:10px;
}
.in_rightico{
	width:8px;
	height:16px;
	float:left;
	margin-top:40px;
}
#s_pic{
	width:277px;
	height:131px;
	float:left;
	margin-right:8px;
}
.in_prods{
	width:132px;
	float:left;
	text-align:center;
	margin-right:12px;
}
.in_prodimg{
	width:100%;
	height:94px;
}
.in_prodstitle{
	width:100%;
	height:18px;
	margin-top:12px;
}
#in_contactmax{
	clear:both;
	height:68px;
	background-color:#f4f4f4;
	width:100%;
	border-top:#CCC 1px solid;
	border-bottom:#CCC 1px solid;
}
#in_contact{
	margin:0 auto;
	width:1000px;
	height:100%;
}
#friendLink{
	width:649px;
	float:left;
	height:100%;
	border-right:1px #CCCCCC solid;
}
#linkdiv{
	width:100%;
}
#linkName{
	width:130px;
	float:left;
	height:24px;
	margin-top:20px;
}
#linkdata{
	width:508px;
	float:left;
	height:24px;
	margin-top:20px;
}
#phonediv{
	width:340px;
	height:67px;
	float:left;
	position:relative;
}
#phoneimg{
	width: 116px;
	height: 24px;
	position: absolute;
	left: 23px;
	top: 26px;
	z-index: 1;
}
#phonenum{
	width: 176px;
	height: 39px;
	position: absolute;
	left: 148px;
	top: 23px;
	z-index: 1;
}
#footer{
	width:100%;
	height:60px;
	clear:both;
	background-color:#878788;
}
#copy{
	width:1000px;
	height:60px;
	margin:0 auto;
	text-align:center;
	line-height:60px;
}
#banners{width:100%;height:auto;}
.banner{display:none;}
/*子页*/
#z_main{
	width:989px;
	margin:0 auto;
	text-align:left;
	margin-top:10px;
	margin-bottom:15px;
}
#zmainimg {
	clear:both;
	width:989px;
	height:186px;
	padding-top:10px;
	margin:0 auto;
}
#sideBar{
	width:175px;
	float:left;
}
.sidebar{
	width:99%;
	background-color:#f3f3f3;
	border:#999 solid 1px;
}
#container {
	width:813px;
	float:left;
}
#apDiv28 {
	width:813px;
	height:35px;
	position:relative;
}
#apDiv29 {
	position:absolute;
	left:18px;
	top:10px;
	width:489px;
	height:23px;
	z-index:1;
}
.content_line{
	width:799px;
	height:4px;
	background-image: url(/skin/maxztron/img/content_line.jpg);
	margin-left:14px;
}
#apDiv30 {
	position:absolute;
	right:0px;
	top:11px;
	width:483px;
	height:20px;
	z-index:1;
	text-align:right;
}
#content{
	width:775px;
	line-height:1.8em;
	margin-left:30px;
	margin-top:15px;
}
#leftsideBar{
	width:160px;
	height:auto;
	background-color:#FFF;
	border:#CCC solid 1px;
	margin-left:7px;
	margin-bottom:15px;
	margin-top:5px;
}
.leftmenuul{
	margin-left:10px;
}
.leftmenuli{
	width:154px;
	height:26px;
	background-image:url(/skin/maxztron/img/left_line.jpg);
	background-repeat:no-repeat;
	background-position:bottom;
	line-height:20px;
	margin-bottom:10px;
	margin-top:10px;
}
.leftmenu3div{
	margin-left:20px;
}
.leftmenu3div div{
	height:25px;
}
#z_main{
	width:989px;
	margin:0 auto;
	text-align:left;
	margin-top:10px;
	margin-bottom:15px;
}
#apDiv21 {
	width:100%;
	height:26px;
	margin-left:12px;
	margin-top:10px;
}
#apDiv27 {
	width:100%;
	height:14px;
}
#news_content{
	width:783px;
	margin-left:30px;
	margin-top:10px;
}
.news_list{
	width:773px;
	height:32px;
	position:relative;
	border-bottom:#CCC dotted 1px;
}
.news_list_data {
	position:absolute;
	left:8px;
	top:7px;
	width:629px;
	height:19px;
	z-index:1;
	line-height:19px;
}
.news_list_date {
	position:absolute;
	left:655px;
	top:7px;
	width:114px;
	height:24px;
	z-index:1;
	text-align:right;
	line-height:19px;
}
.page{
	width:773px;
	height:52px;
	text-align:center;
	line-height:52px;
	clear:both;
}
#n_title{
	width:775px;
	line-height:1.8em;
	margin-left:30px;
	margin-top:15px;
	text-align:center;
	clear:both;
}
#left_news{
	width:173px;
	border:#ccc solid 1px;
	height:auto;
}
#left_newstitle{
	width:154px;
	height:31px;
	background-image:url(/skin/maxztron/img/left_line.jpg);
	background-repeat:no-repeat;
	background-position:bottom;
	margin-left:15px;
	line-height:31px;
}
.leftbarul{
	margin-left:15px;
}
.leftbarli{
	width:170px;
	height:28px;
	line-height:28px;
}
#pro_content{
	width:789px;
	margin-left:20px;
	margin-top:10px;
}
.pro_list{
	width:795px;
	height:172px;
	clear:both;
	margin-bottom:10px;
}

.products_img {
	position:absolute;
	left:1px;
	top:9px;
	width:163px;
	height:146px;
	z-index:1;
	text-align:center;
}
#procon_img{ 
max-width: 190px;
max-height:168px;
width:expression(this.width > 190 ? "190px" : this.width); 
height:expression(this.height>168?"168px":this.height); 
overflow:hidden; 
}
.products_title {
	position:absolute;
	left:19px;
	top:15px;
	width:594px;
	height:21px;
	z-index:1;
}
.products_content {
	position:absolute;
	left:19px;
	top:44px;
	width:591px;
	height:81px;
	z-index:1;
	line-height:2em;
}
.readmore {
	position:absolute;
	left:18px;
	top:132px;
	width:221px;
	height:21px;
	z-index:1;
}
.pro_leftdiv{
	width:165px;
	height:165px;
	float:left;
	position:relative;
}
.pro_rightdiv{
	width:627px;
	height:170px;
	position:relative;
	float:left;
	border-bottom:#CCC solid 1px;
	
}
#apDiv31 {
	width:783px;
	height:192px;
	position:relative;
	margin-left:30px;
	border-bottom:#CCC dotted 1px;
	margin-top:14px;
	overflow:visible;
	clear:both;
}
#apDiv32 {
	position:absolute;
	left:0px;
	top:6px;
	width:193px;
	height:172px;
	z-index:3;
	overflow:visible;
	text-align:center;
}
#apDiv33 {
	position:absolute;
	left:213px;
	top:11px;
	width:547px;
	height:21px;
	z-index:1;
}
#apDiv34 {
	position:absolute;
	left:213px;
	top:42px;
	width:545px;
	height:126px;
	z-index:1;
	line-height:1.8em;
	overflow:auto;
}
.zoomPad {
	z-index: 99; position: relative; float: left; cursor: crosshair;overflow:visible;
}

.zoomPup {
	Z-INDEX: 101; BORDER-BOTTOM: #ccc 1px solid; POSITION: absolute; FILTER: alpha(opacity = 60); BORDER-LEFT: #ccc 1px solid; BACKGROUND-COLOR: #fff; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; CURSOR: crosshair; BORDER-RIGHT: #ccc 1px solid; -moz-opacity: 0.6; opacity: 0.6;
}
.zoomWrapperImage {
	Z-INDEX: 110; POSITION: relative; DISPLAY: block; OVERFLOW: hidden;
}

.pro_content{
	width:765px;
	margin-left:45px;
	line-height:1.8em;
	margin-top:20px;
}
#comment{
	width:765px;
	margin-left:45px;
	margin-top:20px;
	clear:both;
}
#com_regard{
	height:30px;
	line-height:30px;
	margin-bottom:10px;
}
.com_client{
	height:20px;
	line-height:20px;
	
}
.com_list{
	height:60px;
	border-bottom:#CCC solid 1px;
	margin-bottom:10px;
}
.com_content{
	line-height:1.8em;
	margin-top:6px;
}
.com_page{
	height:30px;
	text-align:center;
	margin-top:15px;
}
.con_text{
	width:756px;
	height:78px;
}
.downlist{
	width:695px;
	height:152px;
	position:relative;
	background-image:url(/skin/maxztron/img/down-bg.jpg);
	background-repeat:no-repeat;
	background-position:bottom center;
	margin-left:28px;
	margin-bottom:18px;
}
.downlist_title {
	position:absolute;
	left:25px;
	top:2px;
	width:634px;
	height:24px;
	z-index:1;
}
.downlist_content {
	position:absolute;
	left:25px;
	top:35px;
	width:634px;
	height:44px;
	z-index:1;
	overflow:auto;
}
.downlist_date {
	position:absolute;
	left:25px;
	top:89px;
	width:279px;
	height:19px;
	z-index:1;
}
.downlist_buttom {
	position:absolute;
	left:558px;
	top:101px;
	width:103px;
	height:28px;
	z-index:1;
}
.produl{
	height:20px;
	clear:both;
}
.produlleft{
	width:auto;
	float:left;
}
.produlright{
	width:300px;
	float:left;
}
#top_menu{
	width:775px;
	margin-left:30px;
	margin-top:5px;
	clear:both;
}
#top_menu div{
	width:100px;
	height:27px;
	float:left;
	margin-right:10px;
	margin-top:10px;
}
.top_menua{
	display:block;
	text-decoration:none;
	color:#00469e;
	background-color:#f3f3f3;
	text-align:center;
	border:#CCC 1px solid;
	line-height:25px;
	
}
.top_menub{
	display:block;
	text-decoration:none;
	color:#FFF;
	background-color:#0047a0;
	text-align:center;
	border:#CCC 1px solid;
	line-height:25px;
	
}
/*end*/
/*产品参数*/
.paradiv{
	width:775px;
	margin-left:30px;
	border:#CCC solid 1px;
	margin-top:10px;
}
.paradivline{
	width:100%;
	border-bottom:#999 dotted 1px;
	padding-bottom:5px;
	padding-top:10px;
	clear:both;
}
.attr{
	width:100px;
	height:22px;
	float:left;
	padding-left:10px;
}
.valdiv{
	width:650px;
}
.valdiv a{
	float:left;
	margin-right:15px;
	font-family:"微软雅黑";
	text-decoration:none;
	color:#36F;
	margin-bottom:10px;
}
.valdiv a:hover{
	float:left;
	margin-right:10px;
	font-family:"微软雅黑";
	text-decoration:underline;
	color:#F90;
	margin-right:15px;
}
.valdiv .nowval{

	float:left;
	margin-right:10px;
	font-family:"微软雅黑";
	text-decoration:underline;
	color:#F90;
	margin-right:15px;
}


.page_zxly1 input{ width:200px; border:1px solid #ccc; height:20px;  background-color:#fbfbfb; outline:none;}
.page_zxly2srk{width:300px; border:1px solid #ccc; height:90px; line-height:20px; background-color:#fbfbfb;}
.xbg{width:100px; border:1px solid #ccc; height:20px;  background-color:#fbfbfb; outline:none;}

/*end*/