@charset "utf-8";
/* CSS Document */
:root {
	--link-c:#333333;
	--active-c:#e50012;
	--font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
@import url('din condensed bold.css');
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
}
html,body{}
html{
	font-family:"Source Han Sans CN", "Noto Sans S Chinese Light", "Microsoft Yahei", "Microsoft YaHei Light", "Pingfang sc regular", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	font-size:62.5%;
}
body{margin:0; padding:0; overflow-x:hidden; font-size:16px; line-height:24px; color:#333333;}
p{padding:0;margin:0}
dl,ul{margin:0;padding:0;list-style-type:none}
dd{margin:0}
input, textarea, select, button, button:focus, button:hover, label, svg, svg path, svg rect, svg polygon, img, a, :after, :before, :hover, :focus, .form-control:focus {
outline: none; box-shadow: none;
}
a,a:focus,a:active{color:#333333; text-decoration: none; outline: 0}
a:active,a:hover{color:#e50012; text-decoration:none; transition: all .4s linear;}
/*
a{-webkit-transition: all .4s ease-in-out;	-moz-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; -o-transition: all .4s; transition: all .4s ease-in-out}
*/

.pt-10{padding-top:10px}.pt-20{padding-top:20px}.pt-30{padding-top:30px}.pt-40{padding-top:40px}.pt-50{padding-top:50px}.pt-60{padding-top:60px}.pt-70{padding-top:70px}.pt-80{padding-top:80px}.pt-90{padding-top:90px}.pt-100{padding-top:100px}.pb-10{padding-bottom:10px}.pb-20{padding-bottom:20px}.pb-30{padding-bottom:30px}.pb-40{padding-bottom:40px}.pb-50{padding-bottom:50px}.pb-60{padding-bottom:60px}.pb-70{padding-bottom:70px}.pb-80{padding-bottom:80px}.pb-90{padding-bottom:90px}.pb-100{padding-bottom:100px}.ptb-10{padding-top:10px;padding-bottom:10px}.ptb-20{padding-top:20px;padding-bottom:20px}.ptb-30{padding-top:30px;padding-bottom:30px}.ptb-40{padding-top:40px;padding-bottom:40px}.ptb-50{padding-top:50px;padding-bottom:50px}.ptb-60{padding-top:60px;padding-bottom:60px}.ptb-70{padding-top:70px;padding-bottom:70px}.ptb-80{padding-top:80px;padding-bottom:80px}.ptb-90{padding-top:90px;padding-bottom:90px}.ptb-100{padding-top:100px;padding-bottom:100px}.prl-10{padding-left:10px;padding-right:10px}.prl-20{padding-left:20px;padding-right:20px}.prl-30{padding-left:30px;padding-right:30px}.prl-40{padding-left:40px;padding-right:40px}.prl-50{padding-left:50px;padding-right:50px}.prl-60{padding-left:50px;padding-right:50px}.prl-70{padding-left:60px;padding-right:60px}.prl-80{padding-left:70px;padding-right:70px}.prl-90{padding-left:80px;padding-right:90px}.prl-100{padding-left:100px;padding-right:100px}.ptrbl-10{padding:10px}.ptrbl-20{padding:20px}.ptrbl-30{padding:30px}.ptrbl-40{padding:40px}.ptrbl-50{padding:50px}.ptrbl-60{padding:60px}.ptrbl-70{padding:70px}.ptrbl-80{padding:80px}.ptrbl-90{padding:90px}.ptrbl-100{padding:100px}.mt-10{margin-top:10px}.mt-20{margin-top:20px}.mt-30{margin-top:30px}.mt-40{margin-top:40px}.mt-50{margin-top:50px}.mt-60{margin-top:60px}.mt-70{margin-top:70px}.mt-80{margin-top:80px}.mt-90{margin-top:90px}.mt-100{margin-top:100px}.mb-10{margin-bottom:10px}.mb-20{margin-bottom:20px}.mb-30{margin-bottom:30px}.mb-40{margin-bottom:40px}.mb-50{margin-bottom:50px}.mb-60{margin-bottom:60px}.mb-70{margin-bottom:70px}.mb-80{margin-bottom:80px}.mb-90{margin-bottom:90px}.mb-100{margin-bottom:100px}.mtb-10{margin-top:10px;margin-bottom:10px}.mtb-20{margin-top:20px;margin-bottom:20px}.mtb-30{margin-top:30px;margin-bottom:30px}.mtb-40{margin-top:40px;margin-bottom:40px}.mtb-50{margin-top:50px;margin-bottom:50px}.mtb-60{margin-top:60px;margin-bottom:60px}.mtb-70{margin-top:70px;margin-bottom:70px}.mtb-80{margin-top:80px;margin-bottom:80px}.mtb-90{margin-top:90px;margin-bottom:90px}.mtb-100{margin-top:100px;margin-bottom:100px}.mtrbl-10{margin:10px}.mtrbl-20{margin:20px}.mtrbl-30{margin:30px}.mtrbl-40{margin:40px}.mtrbl-50{margin:40px}.mtrbl-60{margin:60px}.mtrbl-70{margin:70px}.mtrbl-80{margin:80px}.mtrbl-90{margin:90px}.mtrbl-100{margin:100px}

.cellpadding{padding-top:60px; padding-bottom:60px;}
.cellpadding-t{padding-top:60px;}
.cellpadding-b{padding-bottom:60px;}
.cellspacing{margin-top:60px; margin-bottom:60px;}
.cellspacing-t{margin-top:60px;}
.cellspacing-b{margin-bottom:60px;}

.no-gutter{margin-left:0;margin-right:0;padding-left:0;padding-right:0;}
.no-gutter>[class*=col-]{padding-left:0;padding-right:0;}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 按钮 */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.botton-first{}
.sim-button{background:none; width:150px; height:44px; line-height:44px; text-align: center; margin-top:20px; margin-bottom:20px; display:inline-block; z-index: 0; cursor: pointer;}
.sim-button span{color:#e50012; border:1px solid #e50012;}
.sim-button span:hover{color:#fff; border:1px solid #e50012;}

.buttona{color:#e50012; position:relative; -webkit-transition:all .5s;-moz-transition:all .5s;-o-transition:all .5s; transition:all .5s;}
.buttona span{z-index:1;display:block;position:absolute;width:100%;height:100%;}
.buttona::before{content:'';position:absolute;top:0;left:0;width:0%;height:100%;opacity:0;background-color:#e50012; -webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;transition:all .3s}
.buttona:hover::before{opacity:1;width:100%; color:#fff;}

.sim-button-white{background:none; width:150px; height:44px; line-height:44px; text-align: center; margin-top:20px; margin-bottom:20px; display:inline-block; z-index: 0; cursor: pointer;}
.sim-button-white span {color:#fff; border:1px solid #fff;}
.sim-button-white span:hover{color:#fff; border:1px solid #e50012;}


.link-qys{ color:#e50012;}
.link-qys:hover{ color:#e50012; text-decoration:underline;}

.shop-btn{display:inline-block;line-height:26px; border-radius:5px;text-align:center;border:0;padding:13px 30px 13px 30px;color:#fff;overflow:hidden; -webkit-transition:all .7s ease-in-out;transition:all .7s ease-in-out;position:relative;z-index:1;}
.shop-btn i{position:relative;top:2px;font-size:20px;margin-right:8px;}
.shop-btn:before{position:absolute;top:0;left:0;content:"";width:50%;height:0;visibility:hidden;opacity:0;z-index:-1;-webkit-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
.shop-btn:after{position:absolute;bottom:0;right:0;content:"";width:50%;height:0;visibility:hidden;opacity:0;z-index:-1;-webkit-transition:all .4s ease-in-out;transition:all .4s ease-in-out}
.shop-btn:hover{color:#fff}
.shop-btn:hover:after,.shop-btn:hover:before{width:100%;height:100%;visibility:visible;opacity:1}
.shop-btn.style1{background-color:#e50012}
.shop-btn.style1:after,.shop-btn.style1:before{background:#333}
.shop-btn.style2{background-color:#333}
.shop-btn.style2:after,.shop-btn.style2:before{background:#e50012}

/* 设置滚动条的样式 */
/* 滚动槽 */
/*::-webkit-scrollbar{width:5px;}
::-webkit-scrollbar-track{}*/
/* 滚动条滑块 */
::-webkit-scrollbar-thumb{background:#ccc; }
::-webkit-scrollbar-thumb:window-inactive{background: #ccc;}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* List_page 分页01 */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.List_page{clear:both; text-align:center; margin:8px; padding:15px 0}
.List_page a{background:#fff;margin:1px;padding:4px 6px;border:1px solid #333333;color:#333333}
.List_page span{background:#e1e1e1;color:#000;margin:1px;padding:4px 6px;border:1px solid #333333}
.List_page .showpage ul li{ display:inline-block;}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* paginationWrapper 分页02*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
.paginationWrapper{padding-top:20px;clear:both;text-align:center}
.paginationWrapper{position:relative}
.paginationWrapper a.activePagi,.paginationWrapper a:hover{color:#fff;background:#e50012;border:2px solid #e50012;cursor:pointer;text-decoration:none;outline:0}
.nubmerPagination{display:inline-block}
.paginationWrapper a{border:2px solid #d4d4d4;background:#fff;color:#2a2a2a;padding:9px 16px;-webkit-transition:all 150ms linear;transition:all 150ms linear;margin-right:10px;font-size:18px;font-weight:700;text-decoration:none}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 右侧向上返回 */
/*-------------------------------------------------------------------------------------------------------------------------------*/
#mkdf-back-to-top{display:block;visibility:hidden;position:fixed;text-decoration:none;right:25px;bottom:25px;border-radius:50%;margin:0;width:40px;height:40px;font-size:18px;line-height:40px;opacity:0;z-index:10000;color:#fff;text-align:center;-webkit-box-shadow:0 14px 47px 0 rgba(28,28,28,.24);-moz-box-shadow:0 14px 47px 0 rgba(28,28,28,.24);box-shadow:0 14px 47px 0 rgba(28,28,28,.24);background-color:#e50012;box-sizing:border-box;-webkit-transition:opacity .2s ease-out,visibility .2s ease-out,color .2s ease-out,background-color .2s ease-out,right .1s ease-out;-moz-transition:opacity .2s ease-out,visibility .2s ease-out,color .2s ease-out,background-color .2s ease-out,right .1s ease-out;transition:opacity .2s ease-out,visibility .2s ease-out,color .2s ease-out,background-color .2s ease-out,right .1s ease-out}
#mkdf-back-to-top:hover{background-color:#333333}
#mkdf-back-to-top.on{opacity:1;visibility:visible;}
#mkdf-back-to-top:hover .mkdf-icon-stack{-webkit-transform:translateY(8px);-moz-transform:translateY(8px);transform:translateY(8px)}
#mkdf-back-to-top:hover .mkdf-back-to-top-text{opacity:0}
.scrollup{width:40px;height:40px;position:fixed;bottom:30px;right:30px;display:none;text-indent:-9999px;background:url(../img/icon_top.png) no-repeat;background-color:#000}
.scrollup.open{display:block}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 右侧浮动客服 */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.toolbar{position:fixed;right:0;bottom:150px; z-index:999999;}
.toolbar-item,.toolbar-layer{background:url(../img/toolbar.png) no-repeat}
.toolbar-item{display:block;width:52px;height:52px;margin-bottom:0px;position:relative;-moz-transition:background-position 1s;-ms-transition:background-position 1s;-o-moz-transition:background-position 1s;-webkit-moz-transition:background-position 1s;transition:background-position 1s}
.toolbar-item:hover .toolbar-layer{opacity:1;transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);}

.toolbar-item-gzh{background-position:0 -496px}
.toolbar-item-gzh:hover{background-position:0 -558px}
.toolbar-item-gzh .toolbar-layer{background-position:0 -868px; height:185px; -webkit-box-shadow:0 10px 10px 0 rgba(0,0,0,.1);-moz-box-shadow:0 10px 10px 0 rgba(0,0,0,.1);box-shadow:0 10px 10px 0 rgba(0,0,0,.1); border:1px solid #f0f0f0;}

.toolbar-item-wxkf{background-position:0 -620px}
.toolbar-item-wxkf:hover{background-position:0 -682px}
.toolbar-item-wxkf .toolbar-layer{background-position:0 -1053px; height:185px; -webkit-box-shadow:0 10px 10px 0 rgba(0,0,0,.1);-moz-box-shadow:0 10px 10px 0 rgba(0,0,0,.1);box-shadow:0 10px 10px 0 rgba(0,0,0,.1); border:1px solid #f0f0f0;}

.toolbar-item-dy{background-position:0 -744px}
.toolbar-item-dy:hover{background-position:0 -806px}
.toolbar-item-dy .toolbar-layer{background-position:0 -1238px; height:185px; -webkit-box-shadow:0 10px 10px 0 rgba(0,0,0,.1);-moz-box-shadow:0 10px 10px 0 rgba(0,0,0,.1);box-shadow:0 10px 10px 0 rgba(0,0,0,.1); border:1px solid #f0f0f0;}

.toolbar-item-feedback{background-position:0 0px}
.toolbar-item-feedback:hover{background-position:0 -62px}

.toolbar-item-qq{background-position:0 -124px}
.toolbar-item-qq:hover{background-position:0 -186px}

.toolbar-item-phone{background-position:0 -372px}
.toolbar-item-phone:hover{background-position:0 -434px}
.toolbar-item-phone .toolbar-layer{height:52px; line-height:52px; background:none; background-color:#e50012; color:#fff; bottom:0px; text-align:center; font-weight:bold; font-size:18px;}

.toolbar-item-top{background-position:0 -248px}
.toolbar-item-top:hover{background-position:0 -310px}

.toolbar-layer{position:absolute;right:52px;bottom:0px;width:172px;opacity:0;transform-origin:95% 95%;-moz-transform-origin:95% 95%;-ms-transform-origin:95% 95%;-o-transform-origin:95% 95%;-webkit-transform-origin:95% 95%;transform:scale(.01);-moz-transform:scale(.01);-ms-transform:scale(.01);-o-transform:scale(.01);-webkit-transform:scale(.01);transition:all 1s;-moz-transition:all 1s;-ms-transition:all 1s;-o-transition:all 1s;-webkit-transition:all 1s}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 右侧浮动客服 */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.toolbar2{position:fixed;right:0; bottom:150px; z-index:999999;}

.toolbar2-item{display:block;width:60px; margin-bottom:0px;position:relative;-moz-transition:background-position 1s;-ms-transition:background-position 1s;-o-moz-transition:background-position 1s;-webkit-moz-transition:background-position 1s;transition:background-position 1s; text-align:center; background:#ff0000; color:#fff; margin-bottom:1px; padding:5px 0px; font-size:14px; line-height:24px;}
.toolbar2-item i img{font-size:0px; width:22px; height:auto; vertical-align:bottom;}
.toolbar2-item:hover{background:#ff0000; color:#fff;}
.toolbar2-item:hover .toolbar2-layer{opacity:1;transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1); -webkit-box-shadow:0 10px 10px 0 rgba(0,0,0,.1);-moz-box-shadow:0 10px 10px 0 rgba(0,0,0,.1);box-shadow:0 10px 10px 0 rgba(0,0,0,.1); border:1px solid #f0f0f0;}

.toolbar2-item-phone{background-position:0 -372px}
.toolbar2-item-phone:hover{background-position:0 -434px}
.toolbar2-item-phone .toolbar2-layer{ width:170px; height:58px; line-height:58px; background-color:#e50012; color:#fff; bottom:0px; text-align:center; font-weight:bold; font-size:24px; vertical-align:middle;}

.toolbar2-layer{position:absolute;right:60px;bottom:0px; opacity:0;transform-origin:95% 95%;-moz-transform-origin:95% 95%;-ms-transform-origin:95% 95%;-o-transform-origin:95% 95%;-webkit-transform-origin:95% 95%;transform:scale(.01);-moz-transform:scale(.01);-ms-transform:scale(.01);-o-transform:scale(.01);-webkit-transform:scale(.01);transition:all 1s;-moz-transition:all 1s;-ms-transition:all 1s;-o-transition:all 1s;-webkit-transition:all 1s; background:#fff; color:#000; padding:5px 5px 5px 5px;}
.toolbar2-layer img{vertical-align:bottom;}

.toolbar-m{position:fixed; width:100%; bottom:0px; z-index:999999; border-top:1px solid #e0e0e0; background:#fff; display:none;}
.toolbar-m ul li{ width:25%; float:left; text-align:center; padding-top:10px;}
.toolbar-m ul li i{display:block;}
.toolbar-m ul li a{display:block;}

.social-icons{padding-top:20px;}
.social-icons a {background-color:#fff; color:#333333; width:40px; height:40px; border-radius: 100%; display: inline-block; padding:3px 0px 0px 0px; text-align:center; margin:0px 5px;}
.social-icons a i {font-size:20px; vertical-align: middle;}
.social-icons a:hover {background-color:#e50012; color: #fff; border-radius: 100%;}

.zdy-flex{display:-ms-flexbox; display:-webkit-flexbox; display:flex; -ms-flex-wrap:wrap; flex-wrap:wrap;}

/*--自定义5列--*/
.col-lg-5ths,.col-md-5ths,.col-sm-5ths,.col-xs-5ths{position:relative;min-height:1px;padding-right:10px;padding-left:10px}

@media (max-width: 992px) {
.cellpadding{padding-top:20px; padding-bottom:20px;}
.cellpadding-t{padding-top:20px;}
.cellpadding-b{padding-bottom:20px;}
.cellspacing{margin-top:20px; margin-bottom:20px;}
.cellspacing-t{margin-top:20px;}
.cellspacing-b{margin-bottom:20px;}
	
#mkdf-back-to-top{display:none;}
.toolbar,.toolbar2{display:none;}
}

@media ( min-width : 768px) {
.col-sm-5ths{width:20%;float:left}
}

@media ( min-width : 992px) {
.col-md-5ths{width:20%;float:left}
}

@media ( min-width : 1200px) {
.col-lg-5ths{width:20%;float:left}
}
